# Counter

In [2]:
from collections import Counter

In [5]:
mylist = [1,2,2,2,3,3,3,1,2,1,12,3,2,32,41,41,1]

In [7]:
Counter(mylist)

Counter({1: 4, 2: 5, 3: 4, 12: 1, 32: 1, 41: 2})

In [9]:
mylist=['a','a',2,2]

In [10]:
Counter(mylist)

Counter({'a': 2, 2: 2})

In [20]:
sentence = 'How many times does each word show up in this sentence word times each each word'

words=sentence.split()
Counter (words)

Counter({'How': 1,
         'many': 1,
         'times': 2,
         'does': 1,
         'each': 3,
         'word': 3,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1})

In [28]:
letters='aaaaabbbbbccccceeeexxxd'

In [29]:
l=Counter(letters)

In [30]:
l

Counter({'a': 5, 'b': 5, 'c': 5, 'e': 4, 'x': 3, 'd': 1})

In [33]:
l.most_common()

[('a', 5), ('b', 5), ('c', 5), ('e', 4), ('x', 3), ('d', 1)]

In [34]:
l.most_common(2)

[('a', 5), ('b', 5)]

# defaultdict

In [38]:
from collections import defaultdict
number = defaultdict(int)      
number['one'] = 1      
number['two'] = 2      
print(number['three'])

0

# Namedtuple

In [42]:
from collections import namedtuple
Student = namedtuple('Student', 'fname, lname, age')  
s1 = Student('Peter', 'James', '13')  
print(s1.fname)

Peter

In [44]:
s1[1]

'James'

In [46]:
s1.age

'13'