# if,else,elif

In [14]:
if 2>3:
    print("i love u")
else:
    print("not love u")

not love u

In [37]:
loc='school'

if loc=='auto shop':
    print('this car is cool')
elif loc=='bank':
    print('i have money')
elif loc=='store':
    print('i love shopping')     
else:
    print('i don\'t know much.')

i don't know much.

In [38]:
name='pranto'

if name=='heartless':
    print('i \'m heartless')
elif name =="headless":
    print('i\'m headless')
else:
    print('what\'s your name?')

what's your name?

# for loop

In [49]:
friends=['pranto','santo','ishan']
for name in friends:
    print(' hello ' + name)

 hello pranto
 hello santo
 hello ishan

In [54]:
numlist=[0,1,2,3,4,5,6,7,8,9,10]

In [64]:
for num in numlist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

0
Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [68]:
newsum = 5
for num in numlist:
    newsum= newsum+num
print(newsum)

60

In [71]:
mystring='pranto'
for letter in mystring:
    print(letter)

p
r
a
n
t
o

In [75]:
tup=(1,2,3,'pranto')
for item in tup:
    print(item)

1
2
3
pranto

In [78]:
mylist=[(1,2),(3,4),(5,6)]

In [79]:
len(mylist)

3

In [80]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [82]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

In [84]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

In [102]:
d ={'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [97]:
d ={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [99]:
d ={'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3

In [103]:
d ={'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

# for loop break

In [104]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

# The continue Statement

In [106]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# The pass Statement

In [5]:
x=[0,1,2]
for item in x :
    pass

# Range Function

In [8]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

# while loop

In [12]:
x=0
while x<5:
    print(f'the current value of x is {x}')
    x= x+1
else:
    print('x is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

# Enumerate

In [2]:
word ='pranto'
for item in enumerate(word):
    print(item)

(0, 'p')
(1, 'r')
(2, 'a')
(3, 'n')
(4, 't')
(5, 'o')

# zip

In [9]:
my_list1=[1,2,3]
my_list2=['a','b','c']
my_list3=[5,6]

In [11]:
for item in zip(my_list1,my_list2,my_list3):
    print(item)

(1, 'a', 5)
(2, 'b', 6)

# in

In [12]:
2 in [1,2,3]

True

In [14]:
my_list=[10,12,215,7,6,55]

In [16]:
min(my_list)

6

In [17]:
max(my_list)

215

In [18]:
from random import shuffle

In [20]:
mylist=[12,15,78,1,5,6]

In [24]:
shuffle (mylist)

In [25]:
mylist

[12, 5, 15, 78, 6, 1]

In [26]:
from random import randint

In [27]:
randint(0,100)

53

In [28]:
randint(0,100)

58

In [29]:
input('enter a number here:')

enter a number here:50

'50'

# List Comprehension

In [8]:
my_string = 'hello'

In [10]:
mylist=[]
for letter in my_string:
    mylist.append(letter)

In [11]:
mylist

['h', 'e', 'l', 'l', 'o']

In [12]:
mylist=[letter for letter in my_string]

In [13]:
mylist

['h', 'e', 'l', 'l', 'o']

In [16]:
mylist=[x for x in 'pranto']

In [17]:
mylist

['p', 'r', 'a', 'n', 't', 'o']

In [20]:
mylist=[x for x in range(0,11)]

In [21]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
mylist=[num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
mylist=[x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [30]:
celcius=[0,10,25,34.5]

fahrenheit=[((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 50.0, 77.0, 94.1]

In [33]:
fahrenheit=[]
for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [34]:
fahrenheit

[32.0, 50.0, 77.0, 94.1]

In [37]:
results=[x if x%2==0 else 'odd' for x in range(0,11)]

In [38]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [39]:
mylist=[]
for  x in [2,3,4]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [40]:
mylist

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

In [41]:
mylist=[x*y for x in[3,4,6]for y in[1,2,100]]
mylist

[3, 6, 300, 4, 8, 400, 6, 12, 600]